@{
    //ViewBag.Title = "LoginPage";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">Zaloguj się na swoje konto</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <a href="loginsucces.html"><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button></a>
    </form>
</div>
