 <form class="form-signin">
    @{
        ViewBag.Title = "RecipePageList";
    }

    <form class="form-signin">
        <br />
        <input type="text" class="form-control" name="username" placeholder="Wyszukaj przepisu" required="" autofocus="" />
    </form>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Nazwa</th>
                                        <th class="cell100 column2">Kraj Pochodzenia</th>
                                        <th class="cell100 column3">Trudnosc</th>
                                        <th class="cell100 column4">Autor</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>

                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Buritto z wołowiną</td>
                                        <td class="cell100 column2">Meksyk</td>
                                        <td class="cell100 column3">4/5</td>
                                        <td class="cell100 column4">user01</td>
                                    </tr>
                                   

                                </tbody>
                            </table>
                        </div>
                    </div>

