
@{
    ViewBag.Title = "RecipePage";
}
<div id="header">

    <h1>Buritto z baraniną</h1>
    <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/14/0/FNK_breakfast-burrito_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382542427230.jpeg" />
    <br />
</div>
<div id="menu_top">
    <h4>Składniki: </h4>
    <ul>
        <li>Sól</a></li>
        <li>Pieprz</a></li>
    </ul>
    <div id="container">
        <div id="content">
            <h4>Instrukcja: </h4>
            <div>
                Przygotuj farsz: Podsmaż posiekany czosnek i cebulkę na oleju, dodaj mięso mielone i smaż, aż się przyrumieni.
                Dodaj przecier pomidorowy, fasolę (odsączoną z puszki) i Kostkę Mięsną WINIARY, która pomoże wydobyć pyszny mięsny aromat z potrawy.
                Dopraw solą, pieprzem i ostrą papryką. Gotuj razem przez około 10 minut, aż farsz zgęstnieje na tyle, że można będzie nim faszerować tortille.
                W międzyczasie rozgrzej piekarnik do 180°C.
                Przygotuj tortillę: Rozłóż jedną na blacie, nałóż na środek farsz, posyp żółtym serem i zawiń w kopertę albo rulon. Dla pewności możesz burrito zamknąć przy pomocy wykałaczki.
                Piecz 8 minut, aż tortiilla się trochę zarumieni, a ser rozpuści.
                Podawaj z sałatką i sosami – pomidorowym albo jogurtowym.
            </div>
        </div>
        <br />
        <div id="sidebar">
            <ul>
                <li><a href="#">Następny przepis</a></li>
                <li><a href="#">Poprzedni przepis</a></li>
            </ul>
    </div>
</div>

